<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activity.com.tebakgambar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tega"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TebakGambar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Play" />
        <activity android:name=".Exit" />
        <activity android:name=".Level1" />
        <activity android:name=".Level2" />
        <activity android:name=".Level3" />
        <activity android:name=".L1next1" />
        <activity android:name=".L2next1" />
        <activity android:name=".L3next1" />
        <activity android:name=".Level4" />
        <activity android:name=".L4next1" />
        <activity android:name=".Level5" />
        <activity android:name=".L5next1" />
        <activity android:name=".web" />
        <activity android:name=".profil" />
        <activity android:name=".L1next2" />
        <activity android:name=".L2next2" />
        <activity android:name=".L3next2" />
        <activity android:name=".L4next2" />
        <activity android:name=".L5next2" />
        <activity android:name=".L1next3" />
        <activity android:name=".L2next3" />
        <activity android:name=".L3next3" />
        <activity android:name=".L4next3" />
        <activity android:name=".L5next3" />
        <activity android:name=".L1next4"></activity>
    </application>

</manifest>